/* small devices  */
@media screen and (max-width:576px)
{
    .header-container{
        flex-direction: column;
        padding: 1.5rem 5rem;
    }

    .nav-section{
        flex-direction: column;
    }

}

@media screen and (min-width:577px) and (max-width:1060px) {
    .header-container{
        flex-direction: column;
        
    }
}